
/*
 * Resets and Shortcuts
 */

body {
    margin: 0px;
    padding: 0px;
    background-repeat: round;
}

.box-container(@direction) {
    display: -webkit-box;
    -webkit-box-orient: @direction;

}

.box-flex {
    -webkit-box-flex: 1;
}

.panel-item {
    display: inline-block;
}

/*
 * Themes
 */

// http://colorschemedesigner.com/#3H21Tw0w0w0w0

@theme-text-border-size: 2px;
@theme-text-border-radius: 3px;
@theme-font-size-huge: 36pt;
@theme-font-size-large: 22px;
@theme-font-size-normal: 18px;
@theme-font-size-small: 12px;
@theme-font-size-tiny: 8px;

/* Types */
.theme-type-plain (@font-size: @theme-font-size-normal) {
    font-size: @font-size;
    font-family: 'Puritan', serif;
}

.thme-type-loud(@font-size: @theme-font-size-huge) {
    font-size: @font-size;
    font-family: 'Cantata One', serif;
}

.theme-type-caption(@font-size: @theme-font-size-normal) {
    font-size: @font-size;
    font-family: 'Share', serif;
}

/* Sets */
.theme-title {
    .thme-type-loud;
    color: #052C6E;
}

.theme-caption-bg {
    @bg-base: #6A92D4;
    background: -webkit-linear-gradient(left, @bg-base 0%, lighten(@bg-base, 15%) 100%);
}

.theme-caption-fg (@font-size: @theme-font-size-normal) {
    .theme-type-caption(@font-size);
    color: #FFA400;
}

.theme-caption(@font-size: @theme-font-size-normal) {
    .theme-caption-bg;
    .theme-caption-fg(@font-size);
}

.theme-caption-darker-bg {
    @bg-base: #1049A9;
    background: -webkit-linear-gradient(left, @bg-base 0%, lighten(@bg-base, 15%) 100%);
}

.theme-caption-darker-fg (@font-size: @theme-font-size-normal) {
    .theme-type-caption(@font-size);
    color: #FFA400;
}

.theme-caption-darker(@font-size: @theme-font-size-normal) {
    .theme-caption-darker-bg;
    .theme-caption-darker-fg(@font-size);
}

.theme-caption-hilight {
    color: #FFCD73;
}

.theme-caption-loud {
    .theme-caption(@theme-font-size-large);
    color: white;
}

.theme-text-message {
    .thme-type-loud;
    
    @bg-base: #4479D4;
    background: -webkit-linear-gradient(top, @bg-base 0%, lighten(@bg-base, 15%) 100%);

    @fg-base: #FFA400;
    color: @fg-base;
    span:nth-child(2) { color: lighten(@fg-base, 10%); }
    span:nth-child(3) { color: lighten(@fg-base, 20%); }
    span:nth-child(4) { color: lighten(@fg-base, 30%); }
}


.theme-button {
    .theme-type-plain(@theme-font-size-large);
} 

.theme-textarea {
    .theme-type-plain(@theme-font-size-large);

    border-radius: 0.2em;
    border-style: solid;
    border-color: #052C6E;

    &:focus {
	border-color: #4479D4;
	outline: none;
	-webkit-animation: yellow-fade 1.5s 1;
    }
}

.theme-text(@font-size: @theme-font-size-normal) {
    .theme-type-plain(@font-size);
    font-weight: normal; // For resetting h1.
    color: #222;
    background-color: white;
}

.theme-sticking {
    .theme-type-caption(@theme-font-size-small);
    color: white;
    @bg-base: #29497F;
    background: -webkit-linear-gradient(top, @bg-base 0%, lighten(@bg-base, 10%) 100%);

    a, a:link, a:visited {
	color: white;
    }
}

.theme-logo {
    color: #FFA400;
    font-weight: bold;
    text-decoration: none;
}

.theme-link {
    color: #FFA400;
}

.theme-footnote {
    .theme-text;
    color: #29497F;
    @bg-base: #6A92D4;
    background: -webkit-linear-gradient(left, lighten(@bg-base, 30%) 0%, lighten(@bg-base, 33%) 100%);
}

/*
 * Layouts
 */
.layout-center {
    margin: 0px auto 0px auto;
    width: 80%;
    max-width: 640px;
    position: relative;
}

.layout-sticking {
    position: fixed;
    top: 0px;
    right: 10px;
}

.layout-landing {
    .layout-center;
    padding-top: 3em;
}

/*
 * Animations
 */
@-webkit-keyframes yellow-fade {
    0% { border-color: #ffa; }
    100% { border-color: #4479D4; }
}

/*
 * Components
 */
.asking-title {
    .theme-title;
    padding: 0.5em 0em 0.1em 0em;
    margin: 0em;
}

.asking-caption {
    .theme-caption;
    margin: 0em 0em 0.5em 0em;
    padding: 0.5em;

    .source-url {
	.theme-caption-hilight;
    }
}

.answering {
    .box-container(vertical);

    textarea {
	.theme-textarea;
	box-sizing:  border-box;
	padding: 0.5em;
	margin: 0px;
        width:  100%;
        height: 16em;
	border-width: @theme-text-border-size;
    }
    
    .footer-container {
	.box-container(horizontal);
	padding: 0.5em 0.1em 0.1em 0.1em;
    }

    .footer-suggestion {
	.theme-footnote;
	.box-flex;
	padding: 1em;
	margin: 0em 2em 0em 0em;
    }

}

.answering-button {
    .theme-button;
}

.reflecting {
    margin-bottom: 2em;
}

.reflecting-suggestion {
    .theme-text-message;
    padding: 1em;
    margin: 1em 0em 1em 0em;
}

.reflect-list-item-base {
    margin: 0.5em 0em 0em 0em;
    border-bottom-width: 0px;
    padding-top: @theme-text-border-size;
    border-radius: @theme-text-border-radius;
}

.reflect-list-item {
    .theme-caption-bg;
    .reflect-list-item-base;

    .ref-note {
	border-radius: @theme-text-border-radius @theme-text-border-radius 0em 0em;
	.theme-text(@theme-font-size-large);
	margin: 0px @theme-text-border-size @theme-text-border-size @theme-text-border-size;
	padding: 1em;
    }

    .ref-footer-container {
        .theme-caption-fg(@theme-font-size-small);
	.box-container(horizontal);
    }

    @ref-footer-padding: 0.5em;

    .ref-arrow {
	padding: @ref-footer-padding;
	padding-left: 0px;
	padding-right: 0px;
    }

    .ref-date {
	padding: @ref-footer-padding;
    }

    .ref-source {
	padding: @ref-footer-padding;
	.theme-caption-hilight;
    }
}

.reflect-list-daily-header {
    .theme-caption-darker-bg;
    .reflect-list-item-base;

    .ref-date {
	.theme-caption-darker-fg(@theme-font-size-normal);
	.theme-caption-hilight;
	padding: 0.5em;
    }
}

.welcome {
    .layout-landing;
    .theme-caption-loud;
    margin-top: 2em;
    padding: 1em;

    a:link, a:visited {
	.theme-link;
    }
}

.sticking {
    .layout-sticking;
    .theme-sticking;
    padding: 0.5em;
}

.login, .logout, .site-label {
    .panel-item;
}

.site-label {
    .theme-logo;
    a, a:link, a:visited {
	.theme-logo; // To cancel text decoration.
    }
}